{% extends "base.html" %}



{% block content %}
<div class="container mt-4">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'expenses'%}">Expenses</a></li>
          <li class="breadcrumb-item active" aria-current="page">Edit Expense</li>
      </ol>
  </nav>

  <div class="card">
      <div class="card-body">
          <form action="{% url 'expense-edit' expense.id %}" method="POST">
            {% include 'partials/_messages.html'%}
              {% csrf_token %}

              <div class="form-group">
                  <label for="amount">Amount</label>
                  <input type="number" class="form-control" id="amount" name="amount" value="{{values.amount}}">
              </div>

              <div class="form-group">
                  <label for="description">Description</label>
                  <input type="text" class="form-control" id="description" name="description"  value="{{values.description}}">
              </div>

              <div class="form-group">
                  <label for="category">Category</label>
                  <select class="form-control" id="category" name="category" >
                    <option selected name="category" value="{{values.category}}">{{values.category}}</option>
                      {% for category in categories %}
                      <option name="category" value="{{category.name}}">{{category.name}}</option>
                      {% endfor %}

                  </select>
              </div>

              <div class="form-group">
                  <label for="expense_date">Date of Expense</label>
                  <input type="date" class="form-control" id="expense_date" name="expense_date" {{category.date}}>
              </div>

              <input type="submit" class="btn btn-primary mt-3" value="Save">
          </form>
      </div>
  </div>
</div>

{% endblock  %}
