{% extends "base_auth.html" %}
{% load static %}
{% block content %}

<div class="row " >
<div class="col-md-4"></div>
<div class="col-md-4">
    <div class="card mt-5">

        <div class="card-body"> 
            <div class="card-title py-3">
                <h4>Register for a free account</h4>
            </div>
            <form action="{% url 'register' %}" method="post" autComplete="on">
                {% csrf_token %}
                {% include "partials/_messages.html" %}
                <div class="form-group my-3">
                    <input type="text"  class="form-control form-control-sm" value="{{fieldValues.username}}" name="username" id="usernameField" placeholder="Username" required>
                </div>
                <div class="invalid_feedback" style="display:none;color:red">

                </div>
                <p class="text-sm text-success usernameSuccessOutput"></p>
                <div class="form-group my-3">
                   <input type="email"  class="form-control form-control-sm" value="{{fieldValues.email}}" name="email" id="emailField" placeholder="Email" required>
                </div>
                <div class="emailfeedbackArea" style="display:none;color:red">

                </div>
                <div class="form-group my-3">
                    <input type="password"  class="form-control form-control-sm" name="password" id="passwordField" placeholder="Password" required>
                    {% comment %} <label >SHOW</label> {% endcomment %}
               <small class="float-right py-3 showPasswordToggle" style="cursor: pointer;font-weight:bold;float:right;font-size:10px;padding-top:5px;">SHOW</small>
                </div>
                <input type="submit" value="Register" class="btn btn-block btn-primary my-3 w-100 submitBtn">
            </form>
        </div>
       
            <div class="col-6 " style="margin-left:1rem;">
                <span>Have an Account ?</span>
                <a href="{% url 'login' %}" class="">Login</a>
            </div>
            <div class="col-6" style="margin-left:1rem;">
                <span>Forgot password ?</span>
                <a href="" class="">Reset</a>
            </div>
      
        
        
        </div>
<div class="col-md-4"></div>
</div>

<script src={% static 'js/register.js' %}

{% endblock content %}